@model WeatherClient.Models.WeatherDetail

@{
    ViewData["Title"] = "DeleteWeather";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}
<body style="background-color: #eaffff; ">
    <h1>DeleteWeather</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>WeatherDetail</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Wid)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Wid)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Temperature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Temperature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Humidity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Humidity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Visibility)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Visibility)
            </dd>
        </dl>

        <form asp-action="DeleteWeather" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            
        </form>
    </div>
</body>